html {
    box-sizing: border-box;

}

*, *::before, *::after{

    box-sizing: inherit;


}

body {

    background-image:url("../images/bg.jpg");
    background-attachment: fixed;
    background-size:cover;

}

header {

    
    width: 80%;
    flex-direction: row;
    position: relative;
}

.mymenu {
  
    width: 100%;
    margin: 0 auto;

}

.mymenu ul{

    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    max-width: 50%;
    margin-left: 25%;
    
}

ul .social {

    flex: 2;
    align-self: flex-start;
  
}

ul .menu-item {

    flex: 1;
    width: 150px;
    align-self: flex-end;
    padding: 10px;
    margin:10px;
    text-align: center;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 900;
    background-color: darkred;
}

.menu-item{
    
}

#stacked1 {
    position: relative;
    max-width: 500px;
    max-height: 1000px;
}

#menuimage {
    position: relative;
    top: 200;
    left: 100;
    width: 1000px; 
    height: 337px; 
    object-fit: cover; 
    object-position: 100px 100px;
    
}

#logoimage {
    z-index: 2;
    position:relative;
    top: 0px;
    left: 15%;
}
section {

    width: 60%;
    position: relative;
    margin-left: 20%;
    align-self: inherit;
    
}

.topics {

    background: aliceblue;
    margin: 5px;
    max-width: 80%;
}

.skateboards img{
    
   transform: rotate(90deg);
}

/* .skateboards {
   border: 0px;
   padding:0px;
   width: 45px;
    
} */

/* Aidans code */
/* #test-flex-section {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

#quarter-box {
    width: 25%;
}

#quarter-box:nth-child(odd) {
    background-color: #ff00ff;
}

#quarter-box:nth-child(even) {
    background-color: #000;
} */

#stacked-aidan {
    background-image: url('../images/top-image.png');
    width: 1000px;
    height: 337px; 
    background-position: center -70px;
    background-repeat: no-repeat;
    transform: scale(.8);
    top: 200;
    left: 100;
}

#hero-img {
    display: flex;
    justify-content: center;
}

 #sk-3, #sk-4 {
    width: 90%;
}
#sk-1 {
    width: 100%;
    height: 75%;
    
}

#sk-2 {
    width: 100%;
}

@media (max-width: 767.98px) {
    #stacked-aidan {
        background-position: center -70px;
    }
 }


 /* clockwise notation */
 /* 1px = top
 2px = right
 3px = bottom
 4px left */
 
 /* margin: 1px 2px 3px 4px; */